 /* body{
  font-family: Arial, Helvetica, sans-serif;
} */
/*
img{
  width: 150px;
}

.card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card{
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
  padding: 30px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-title{
  margin: 0;
  color: hsla(0,0%,20% )
}

.card .card-text{ 
  color: hsla(0,0%,30%)
}

.student{
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  p{
    margin: 0;
  }
}


.welcome-msg{
  font-size: 2.5em;
  background-color: hsl(125, 94%, 44%);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: hsl(0, 94%, 44%);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.counter-container{
  text-align: center;
}

.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  color: #fff;
  background-color: hsla(200, 90%, 50%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: hsla(220, 90%, 50%);
  
}

.Color-Picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3rem;
}

.Color-Display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsla(0, 0%, 80%, 0.8);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.1s ease;
}

.Color-Display p{
  color: hsl(0, 0, 20%);
  font-size: 2rem;
  text-align: center;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0, 80%);
} */







/* --------------------------------------------- Lab14 */
/* 
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 10%);
}
.to-do-list{
  text-align: center;
  margin-top: 100px;
}
h1 {
  font-size: 4em;
  color: #fff;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: hsl(200, 90%, 32%);
}
.add-button:hover{
  background-color: hsl(220, 90%, 32%);
}
.delete-button{
  background-color: hsl(116, 90%, 32%);
}
.delete-button:hover{
  background-color: hsl(96, 50%, 50%);
}
.move-button{
  background-color: hsl(315, 90%, 32%);
}
.move-button:hover{
  background-color: hsl(265, 90%, 32%);
}
input[type="text"]{
  font-size: 1.6rem;
  padding:10px;
  border: 2px solid hsl(14, 90%, 30%);
  border-radius: 5px;
  color: black;
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 15px;
  border: 3px solid hsla(0, 0%, 87%, 0.75);
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}

.delete-button,.move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
} */


/* --------------------------------------------- Lab15

body{
  background-image: url(assets/IMG_3681.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}

.clock{
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsl(0, 0%, 15%);
}
*/

/* --------------------------------------------- Lab15 */

/* .box{
  border: 3px solid ;
  padding: 25px;
} */

/* --------------------------------------------- Lab18 */
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  background-color: hsl(0, 0%, 95%);
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: #fff;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.5s ease;
}

.start-Btn{
  background-color: hsl(200, 50%, 70%);
}
.start-Btn:hover{
  background-color: hsl(250, 50%, 70%);
}

.stop-Btn{
  background-color: hsl(150, 50%, 70%);
}
.stop-Btn:hover{
  background-color: hsl(175, 80%, 70%);
}

.reset-Btn{
  background-color: hsl(250, 80%, 70%);
}
.reset-Btn:hover{
  background-color: hsl(275, 70%, 50%);
}
